.column{
    width: auto;
    min-width: 200px;
    margin: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
}

.title{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 1rem;
}

@media (max-width: 1050px) {
    .column{
        width: auto;
        min-width: 150px;
    }
  }
  